<div class="center">
  <div class="body2">
    
  
  <div >
    <label for="formFile" class="form-label">Upload file :  </label><br>
    <input (change)="this.fileChangeEvent($event)" class="form-control" type="file" id="formFile"><br><br>
    <button (click)="this.upload()" type="button" class="button-59">Upload</button>
    <br><br>
    <img src="{{url}}" alt="Your uploaded image will be displayed here" />

    <br />
    <br />
    <button (click)="rotateLeft()" class="button-59">Rotate left</button>
    <button (click)="rotateRight()" class="button-59">Rotate right</button>
    <button (click)="flipHorizontal()" class="button-59">Flip horizontal</button>
    <button (click)="flipVertical()" class="button-59">Flip vertical</button>
    <button (click)="zoomOut()" class="button-59">Zoom -</button> 
    <button (click)="zoomIn()" class="button-59">Zoom +</button>
    <br />
    <br />
    
  </div>
  <br><br>
  <!-- <input type="file" (change)="fileChangeEvent($event)" /> -->

  <image-cropper
      [imageChangedEvent]="imageChangedEvent"
      [maintainAspectRatio]="false"
      [aspectRatio]="4 / 3"
      format="png"
      (imageCropped)="imageCropped($event)"
      (imageLoaded)="imageLoaded()"
      (cropperReady)="cropperReady($event)"
      (loadImageFailed)="loadImageFailed()"

      [canvasRotation]="canvasRotation"
      [transform]="transform"
  ></image-cropper>

  <img [src]="croppedImage" />
    
  <h2>{{answerText}} </h2>

  <div class="container">
    <div class="item">
      <h3>{{image.img_name}}</h3>
      <img src="{{image.img_url}}"/>
    </div>
    <div class="item">
      <!-- <h3 *ngif="image.text_data">Content : </h3> -->
      <ul>
        <li *ngFor="let tD of image.text_data" [ngStyle]="{'border-color':tD.color}">
            {{tD.content}}<br>
        </li><br>
      </ul>
    </div>
  </div>
</div>
</div>


   
