<p>file-add works!</p>

<div class="container">
    <div class="row mt-5">
      <div class="col-md-4">
        <div class="mb-3">
          <label for="formFile" class="form-label">Upload file :  </label>
          <input (change)="this.onFilechange($event)" class="form-control" type="file" id="formFile">
          <button (click)="this.upload()" type="button" class="btn btn-primary mt-3">Upload</button>
        </div>
      </div>
    </div>
   </div>

   <!-- <h2>HTML Image</h2>
<img src="{{image.img_url}}" alt="No IMG" width="500" height="333"> -->
<!-- <img src={{imagePath}} /> -->
<!-- <div>
  <ul>
    <li style="border: 2px solid #f00fff;">TEST<br>TEST2</li>
    <li style="border: 2px solid ;">TEST3<br>TEST2</li>
    <li class="box_data" *ngFor="let t of image.text_data" style="border: 2px solid {{t.color}};">
      {{t.content}}<br>
    </li>
  </ul>
</div> -->

<img src="{{url}}" alt="your image" />
<img src="{{image.img_url}}" />