<p>file-add works!</p>

<div class="container">
    <div class="row mt-5">
      <div class="col-md-4">
        <div class="mb-3">
          <label for="formFile" class="form-label">Upload file :  </label>
          <input (change)="this.onFilechange($event)" class="form-control" type="file" id="formFile">
          <button (click)="this.upload()" type="button" class="btn btn-primary mt-3">Upload</button>
        </div>
      </div>
    </div>
   </div>

   <div>{{image.img_name}}</div>
   <div>{{image.img_url }}</div>
   <ul>
      <li *ngFor="let tD of image.text_data">
          Color :{{tD.color}}<br>
          Content :{{tD.content}}<br><br>
      </li>
    </ul>
    

<img src="{{url}}" alt="your image" />
<img src="{{image.img_url}}" />